[Unit]
Description=zabbixtraps
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/zabbixtraps
ExecStart=/opt/zabbixtraps/zabbixtraps
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
